<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>jQuery UI排序(Sortable)-放置占位符</title>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <link th:href="@{/css/common-layout.css}" rel="stylesheet"/>
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
        html>body #sortable li { height: 1.5em; line-height: 1.2em; }
        .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
        .elemHidden {display: none;}
    </style>
    <script>
        $(function() {
            {
                let dataListStr = document.getElementById("stModelListData").value;
                let dataList = JSON.parse(dataListStr);
                
                for (let i = 0; i < dataList.length; i ++) {
                }
            }

            $( "#sortable" ).sortable({
                placeholder: "ui-state-highlight"
                ,stop: function(event, ui) {

                    let dataListStr = document.getElementById("stModelListData").value;
                    let dataList = JSON.parse(dataListStr);
                    let dataList2 = $("#stModelListData")[0].value
                    console.log(dataList);

                    // let stModelList =$("#stModelList")[0].value;
                    // console.log(stModelList);
                    // let dataList = document.getElementById("stModelList").value;
                    // console.log(event);
                    // console.log(ui);
                    
                    // console.log(document.getElementById("sortable").children[0].getAttribute("id"));
                    // document.getElementById("sortable").children[0].setAttribute("class", "elemHidden");
                    // let chdId = document.getElementById("sortable").children[3].children[0].getAttribute("id");
                    // console.log(chdId);
                    // console.log($("#" + chdId).is(":hidden"));
                    // console.log($("#item7").is(":hidden"));

                    // let chdId4 = document.getElementById("sortable").children[3].getAttribute("id");
                    // console.log($('' + chdId4).visible);
                }
            });
            $( "#sortable" ).disableSelection();
//	$("#sortable").bind('sortstop', function(event, ui) {console.log("停止")});
//	$("#sortable").sortable({ stop: function(event, ui) { ... } });

            $( "#div-sort" ).sortable({
                placeholder: "ui-state-highlight"
            });
            $( "#div-sort" ).disableSelection();
        });
    </script>
</head>
<body>
<input id="name" type="hidden" th:value="${name}" />
<input id="stModelList" type="hidden" th:value= "${stModelList}" />
<input id="stModelListData" type="hidden" th:value= "${stModelList1}" />

<p th:text="'Hello！, ' + ${name} + '!'" >3333</p>
<table th:each="i:${stModelList}">
    <tr >
        <td>元素Id</td>
        <td th:text="${i.getElemId()}"></td>
    </tr>
<!--    <tr >-->
<!--        <td>元素信息</td>-->
<!--        <td th:text="${i.getInfo()}"></td>-->
<!--    </tr>-->
    <tr >
        <td>元素标识</td>
        <td th:text="${i.getDisFlg()}"></td>
    </tr>
</table>
<ul id="sortable">
    <div th:each="stml : ${stModelList}">
        <li id="item1" th:if="${stml.getElemId() eq 'item1' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 1</li>
        <li id="item2" th:if="${stml.getElemId() eq 'item2' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 2</li>
        <li id="item3" th:if="${stml.getElemId() eq 'item3' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 3</li>
        <li id="item4" th:if="${stml.getElemId() eq 'item4' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 4</li>
        <li id="item5" th:if="${stml.getElemId() eq 'item5' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 5</li>
        <li id="item6" th:if="${stml.getElemId() eq 'item6' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 6</li>
        <li id="item7" th:if="${stml.getElemId() eq 'item7' && stml.getDisFlg() eq '1'}" class="ui-state-default">Item 7</li>

        <li id="item21" th:if="${stml.getElemId() eq 'item1' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 1</li>
        <li id="item22" th:if="${stml.getElemId() eq 'item2' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 2</li>
        <li id="item23" th:if="${stml.getElemId() eq 'item3' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 3</li>
        <li id="item24" th:if="${stml.getElemId() eq 'item4' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 4</li>
        <li id="item25" th:if="${stml.getElemId() eq 'item5' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 5</li>
        <li id="item26" th:if="${stml.getElemId() eq 'item6' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 6</li>
        <li id="item27" th:if="${stml.getElemId() eq 'item7' && stml.getDisFlg() eq '0'}" class="elemHidden">Item 7</li>
    </div>
</ul>

<div id="div-sort" class="div-sort-size">
    <div class="div-foreach" draggable="false" th:each="stml : ${stModelList}">
        <div id="item11" th:if="${stml.getElemId() eq 'item1' && stml.getDisFlg() eq '1'}" class="item-info">1.全面、较深入地掌握我们“产品”的功能、特色和优势并做到应用自如。</div>
        <div id="item12" th:if="${stml.getElemId() eq 'item2' && stml.getDisFlg() eq '1'}" class="item-info">2.根据自己以前所了解的和从其他途径搜索到的信息，录入客户资料150家。</div>
        <div id="item13" th:if="${stml.getElemId() eq 'item3' && stml.getDisFlg() eq '1'}" class="item-info">3.锁定有意向客户20家。</div>
        <div id="item14" th:if="${stml.getElemId() eq 'item4' && stml.getDisFlg() eq '1'}" class="item-info">4.力争完成销售指标。</div>
        <div id="item15" th:if="${stml.getElemId() eq 'item5' && stml.getDisFlg() eq '1'}" class="item-info">5.在总结和摸索中前进。</div>
        <div id="item16" th:if="${stml.getElemId() eq 'item6' && stml.getDisFlg() eq '1'}" class="item-info">6.不断学习行业知识、产品知识，为客户带来实用介绍内容</div>
        <div id="item17" th:if="${stml.getElemId() eq 'item7' && stml.getDisFlg() eq '1'}" class="item-info">7.先友后单：与客户发展良好友谊，转换销售员角色，处处为客户着想</div>
    </div>
</div>
</body>
</html>